<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomonote</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../common.css">
</head>
<body>

<div id="app" class="app">
    <div class="header">Pomonote</div>
    <ul class="content">
        <li v-for="(task, idx) in tasks"
            :key="idx"
            ref="taskItems"
            tabindex="0"
            @click="onItemClick(idx)">
            {{ task.name }}
        </li>
    </ul>
    <div class="input-container" :class="{ visible : inputModeOn }">
        <input ref="inputRef" v-model="input" type="text" placeholder="new..." v-on:keyup.enter="onInputEnter()"></input>
    </div>
    <div class="footer">
        <kbd>q</kbd> quit
        <kbd>n</kbd> new
    </div>
</div>

<!-- load external app script -->
<script src="app.js"></script>

<style scoped>
</style>

</body>
</html>